@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes ExtraBold';
    src: url('TTLakes-ExtraBold.eot');
    src: local('TT Lakes ExtraBold'), local('TT Lakes ExtraBold'),
        url('../fonts/TTLakes-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

a, button {
    cursor: pointer;
}

button{
    background-color: transparent;
}

ul > li{
    list-style-type: none;
}

.swiper{
    width: 100%;
    overflow: hidden;
}

.section{
    padding-left: 16px;
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.section__title{
    color: #7E7E82;
    font-family: "TT Lakes";
    padding: 16px 16px 16px 0;
    text-transform: uppercase;
    font-size: 16px;
}

.swiper__list{
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    max-height: 160px;
    transition: all 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.swiper__slide{
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 224px;
    flex-basis: 224px;
}

.swiper__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 224px;
    padding: 16px;
}

.swiper__link:hover{
    background-color: #F2F2F2;
}

.swiper-pagination{
    top: 195px;
}

.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background-color: #B5B6BC;
}

.link::after{
    display: block;
    content: "";
    width: 40px;
    height: 40px;
    color: #FF3E79;
    border: 2px solid #FF3E79;
    background: url('./images/dropdown.svg') center no-repeat ;
    border-radius: 50%;
}

.section__btn{
    display: none;
    position: relative;
}

.section__btn::before{
    display: block;
    content: url("./images/arrow.svg");
    position: absolute;
    align-items: center;
    height: 10.29px;
    width: 7.41px;
    top: 3px;
}

.arrows.section__btn::before{
    transform: rotate(180deg);
    top: 5px;
}

.section__btn--text{
    padding-left: 20px;
    font-family: "TT Lakes";
    font-weight: 600;
}

@media (min-width: 768px) {
    .section{
        padding-left: 24px;
        width: 768px;
    }

    .title__position{
        padding-left: 0;
    }

    .swiper__list--active{
        max-height: 336px;
    }

    .swiper__list{
        overflow: hidden;
        flex-wrap: wrap;
        padding-left: 0;
    }

    .section__btn{
        display: inherit;
    }
}

@media (min-width: 1120px) {
    .section {
        width: 1120px;
    }
    .swiper__list--active{
        max-height: 248px;
    }
}

