@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes ExtraBold';
    src: url('TTLakes-ExtraBold.eot');
    src: local('TT Lakes ExtraBold'), local('TT Lakes ExtraBold'),
        url('../fonts/TTLakes-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container{
    width: 320px;
    height: 100vh;
    overflow: hidden;
    font-family: "TT Lakes";
    background-color:  #FFFFFF;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
}

.menu{
    padding: 18px 24px 32px 24px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: space-between;
    align-content: space-between;
}

*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #1B1C21;
}

*, *::after, *::before{
    box-sizing: inherit;
}

.first-half{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.header{
    display: flex;
    align-items: center;
    gap: 80px;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 16px;
}

.icon{
    align-items: center;
    justify-content: center;
    background-color: #ff3e79;
    display: flex;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
}

.icon:hover{
    cursor: pointer;
    transition-duration: 0.2s;
    box-shadow: 0 0 4px 1px #ff3e79;
}

.logo{
    width: 98px;
    height: 52px;
    display: block;
}

.list{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.list__lnk{
    font-weight: 600;
}

.list__lnk:hover, .list__lnk:active{
    color: #7E7E82;
    white-space: nowrap;
}

.list__item{
    width: 100%;
    position: relative;
}

.list__item:hover::before{
    content: "";
    display: block;
    height: 32px;
    width: 4px;
    border-radius: 0 20px 20px 0;
    background: #41F6D7;
    position: absolute;
    left: -24px;
    bottom: -5px;
    transition-duration: 0.2s;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer__btn{
    display: flex;
    justify-content: flex-start;
    gap: 16px;
    padding-bottom: 16px;
}

.footer__contacts{
    display: flex;
    flex-wrap: wrap;
}

.mail{
    font-weight: 600;   
}

.number{
    font-family: "TT Lakes ExtraBold";
    font-size: 24px;
    line-height: 62px;
}

.lang{
    display: flex;
    gap: 7px;
}

.lang__label:hover{
    color: #7E7E82;
}

input[type=radio]{
    display: none;
}
